<?xml version="1.0" encoding="utf-8" ?>
<configuration>



  <appSettings>
    <add key="basedir" value="C:\tmp\DHPO_Audit\"/>
    <add key="username_DHPO" value="fansari"/>
    <add key="password_DHPO" value="Mjj_u#11"/>
    <add key="database_DHPO" value="DHPO"/>
    <add key="IP_DHPO" value="10.162.176.24"/>

    <add key="Provider" value="true"/>
    <add key="Payer" value="false"/>
    <add key="Archived" value="false"/>
    <add key="Production" value="true"/>
    <add key="StartDate" value="2020-01-01 00:00"/>
    <add key="EndDate" value="2020-01-02 00:00"/>
    <add key="PR" value="true"/>
    <add key="PA" value="true"/>
    <add key="CS" value="true"/>
    <add key="RA" value="true"/>

  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ValidateTransactionsSoap" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
        <binding name="ClaimsAndAuthorizationsArchiveSoap" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dhpo.eclaimlink.ae/ValidateTransactions.asmx"
        binding="basicHttpBinding" bindingConfiguration="ValidateTransactionsSoap"
        contract="DHPO.ValidateTransactionsSoap" name="ValidateTransactionsSoap" />
      <endpoint address="https://dhpo.eclaimlink.ae/ClaimsAndAuthorizationsArchive.asmx"
        binding="basicHttpBinding" bindingConfiguration="ClaimsAndAuthorizationsArchiveSoap"
        contract="DHPOArchive.ClaimsAndAuthorizationsArchiveSoap" name="ClaimsAndAuthorizationsArchiveSoap" />
    </client>
  </system.serviceModel>
</configuration>